# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=wearhouse_root_password
MYSQL_USER=wearhouse
MYSQL_PASSWORD=wearhouse_password
AUTH_DB_NAME=wearhouse_auth
USER_DB_NAME=wearhouse_user
PRODUCT_DB_NAME=wearhouse_product
ORDER_DB_NAME=wearhouse_order
PAYMENT_DB_NAME=wearhouse_payment
INVENTORY_DB_NAME=wearhouse_inventory
SETTLEMENT_DB_NAME=wearhouse_settlement

# Kafka
KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TEST_TOPIC=wearhouse.test.topic
KAFKA_EXPORTER_PORT=9308

# Monitoring
PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
